main{
    margin-top: 125px;
}
/* Sezione 1 */
#section-1 .flex{
    flex-direction: column;
}
#section-1 .box:first-child{
    padding-bottom: 0;
}
#section-1 .title{
    color: var(--blue);
    font-weight: bolder;
}
#section-1 .text{
    margin: 40px 0 0;
    font-weight: bold;
}
#section-1 .btn{
    color: white;
    background-color: var(--blue);
    padding: 15px 47px;
    border-radius: 50px;
    margin: 40px 0;
    font-size: 1.5rem;
    font-weight: bold;
}
#section-1 .right-box img{
    width: 100%;
}
/* /Sezione 1 */

/* Main sezione 1 tablet to 768px  */
@media screen and (min-width: 768px) {
    #section-1 .container > .flex.wrap{
        flex-direction: row;
        margin: 0 -15px;
        width: 100%;
    }
    #section-1 .box{
        align-items: flex-start;
        width: calc(100% / 3 - 30px);
        margin: 15px 15px;
    }
    #section-1 .box:nth-of-type(2){
        align-self: stretch;
    }
    #section-1 .box:first-child{
        width: calc((100% / 3) * 2 - 30px);
    }
    #section-1 .left-box,
    #section-1 .right-box{
        width: 50%;
    }
}
/* Main sezione 1 desktop to 992px */
@media  screen and (min-width: 992px) {
    #section-1 .box{
        flex-direction: row;
        align-items: flex-end;
    }
}
/* ------- */

/* Sezione 2 */
#section-2{
    background-color: var(--violet);
    padding: 70px 34px;
    color: white;
    margin-top: 105px;
}
#section-2 .flex {
    flex-direction: column;
}
#section-2 img{
    width: 100%;
}
#section-2 .title{
    font-size: 3rem;
    margin: 40px 0;
}
#section-2 .left-box .text{
    color: white;
    line-height: 1.5em;
    font-size: 1.5rem;
    margin-bottom: 40px;
}
#section-2 .right-box{
    background-color: white;
    border-radius: 50px;
    color: black;
    padding: 33px 45px ;
}
#section-2 .right-box .title{
    font-weight: bold;
    font-size: 2.5rem;
}
#section-2 .btn{
    color: black;
    font-size: 1.5rem;
    margin-top: 40px;
    background-color: var(--violet);
    padding: 20px;
    border-radius: 50%;
}
/* Main sezione 2 desktop to 992px */
@media  screen and (min-width: 992px) {
    #section-2 .flex{
        flex-direction: row;
    }
    #section-2 .left-box,
    #section-2 .right-box{
        width: 50%;
    }
    #section-2 .left-box,
    #section-2 .right-box{
        margin-left: 50px;
        margin-right: 50px;
    }
    #section-2 .left-box{
        align-items: flex-end;
    }
    #section-2 .right-box{
        align-self: flex-end;
    }
}
/* ------- */